.hero {
    height: 20vh;
    background: linear-gradient(120deg, #0d6efd, #6610f2);
}

#linki a {
    text-decoration: none;
    color: #0d6efd;
    font-weight: 500;
}

#linki a:hover {
    text-decoration: underline;
}
